<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
          <style type = "text/css">
          body {background-color:#b3c6ff;}
          </style>
    {% block head %}
    <meta charset="utf-8">
    <title>Base</title>
    {% endblock %}
  </head>
  <body>
    <br>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'profile' %}">ITT Mail</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse"></ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'password_reset' %}">Forgot password</a></li>
              <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    {% block body %}
    <h1>Base</h1>
    {% endblock %}
  </body>
</html>
