{% extends 'editing.html' %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <title>Edit Profile</title>
      {% endblock %}
        <meta charset="utf-8">
      </head>
  <body>
    {% block body %}
    <div class="container">
      <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" name="button">Save changes</button>
      </form>
     </div>
    {% endblock %}
  </body>
</html>
