{% extends 'home.html' %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <meta charset="utf-8">
      </head>
  <body>
    {% block body %}
    <h1>Welcome to homepage</h1>
    {% endblock %}
  </body>
</html>
