{% extends 'home.html' %}

{% block body %}
<div class="container">
  <p>
    <h1>Reset password</h1>
    Enter the new password twice
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" name="button">Reset Password</button>
  </form>
  </p>
</div>
{% endblock %}
