{% extends 'home.html' %}

{% block body %}
<div class="container">
  <p>
    <h1>Reset password link sent</h1>
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
    <br>
    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
</div>
{% endblock %}
