{% extends 'loggedin.html' %}


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% block head %}
    <title>Profile</title>
      {% endblock %}
        <meta charset="utf-8">
      </head>
  <body>
    {% block body %}
    <div class="container">
      <h1>Profile :</h1>
    <img src="{{ user.user_profile.image.url }}" height="120", width='110'>
    <p><br></p>
    <p>Username:{{ user}}</p>
    <p>First Name:{{ user.first_name }}</p>
    <p>Last Name:{{ user.last_name }}</p>
    <p>Email:{{ user.email }}</p>
    <p>Phone:{{ user.user_profile.phone }}</p>
     </div>
    {% endblock %}
  </body>
</html>
